{% extends 'hod/base.html' %}
{% block page_title %}
Manage Student
{% endblock page_title %}
{% block main_content %}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">


        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Student Details</h3>

                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right"
                                    placeholder="Search">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>User Name</th>
                                    <th>Email</th>
                                    <th>Address</th>
                                    <th>Gender</th>
                                    <th>Profile Pic</th>
                                    <th>Start Year</th>
                                    <th>End Year</th>
                                    <th>Course</th>
                                    <th>Last Login</th>
                                    <th>Date Joined</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for student in students %}
                                <tr>
                                    <td>{{ student.id }}</td>
                                    <td>{{ student.first_name }}</td>
                                    <td>{{ student.last_name }}</td>
                                    <td>{{ student.username }}</td>
                                    <td>{{ student.email }}</td>
                                    <td>{{ student.students.address }}</td>
                                    <td>{{ student.students.gender }}</td>
                                    <td><img src="{{ student.students.profile_pic.url }}" style="width:50px" /></td>
                                    <td>{{ student.students.session_year.session_start_year }}</td>
                                    <td>{{ student.students.session_year.session_end_year }}</td>
                                    <td>{{ student.students.course_id.course_name }}</td>
                                    <td>{{ student.last_login }}</td>
                                    <td>{{ student.date_joined }}</td>
                                    <td><a href="{% url 'hod:edit_student' student.students.id %}"
                                            class="btn btn-success">Edit</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
{% endblock main_content %}